html, body, .map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    padding-top: 50px;
}
.container.map {
    background-color: #eee;
}

.info {
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 10000;
    padding: 4px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(0, 60, 136, 0.5);
    opacity: 1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    margin-left: 40px;
}

.info.point {
    background-image: url('MapMarkerBubblePink24.png');
    background-position: 5px 8px;
    background-repeat: no-repeat;
    padding-left: 32px;
}

.copyright {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    z-index: 10000;
}

.infopopup {
    display: block;
    width: 150px !important;
    padding-bottom: 5px;
}
.infopopup > .infotooltip-inner {
    height: auto;
    margin-bottom: 10px;
    background-color: rgba(0, 60, 136, 0.5);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}
.infopopup > .infotooltip-arrow {
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
    border-top-color: rgba(0, 60, 136, 0.5);
    border-width: 15px 10px 0;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
}
