html ,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.ui-content {
    padding: 0;
}
.ui-footer {
    text-align: center;
    padding: 5px 0;
}
.portrait, .portrait #mappage {
    min-height: 0;
}

#mappage, #mappage .ui-content, #map {
    width: 100%;
    height: 100%;
}
.olControlAttribution {
    font-size: 10px;
    bottom: 5px;
    right: 5px;
}
#navigation .ui-btn-icon-notext {
    display: block;
    padding: 7px 6px 7px 8px;
    opacity: 0.70; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  /* IE8 */
	filter: alpha(opacity=70);  /* IE5-7 */
    
}
#title, #tags, #shortdesc {
    display: none;
}
.ui-icon-check {
    opacity: 0.3;
}
.checked .ui-icon-check {
     opacity: 1;
     background-image: url(../img/accept.png);
     height:16px;
     width:16px;
     background-position:0px;
}

.ui-icon-search2
{
    background-image: url(../img/stednavn_24bit.png);
}
.ui-icon-locate  {
    background-image: url(../img/GPS.png);
}
.ui-icon-layers {
    background-image: url(../img/LayerBtn.JPG);
}
.footerBtn
{
    width:50px;
    height:40px; 
}
.footerBtn .ui-btn-corner-all {
    -moz-border-radius: 0 0 0 0;
     padding: 0px 0px 0px 0px;
}
.footerBtn .ui-btn-inner {
    border-color: rgba(255, 255, 255, 0.3);
    border-top: 0 solid rgba(255, 255, 255, 0.3);
     padding: 0px 0px 0px 0px;
}
.footerBtn .ui-icon
{
    width:50px;
    height:40px; 
}

.footerBtn .ui-btn-icon-notext .ui-btn-inner {
    padding: 0px 0px 0px 0px;
}

.ui-content .ui-listview-inset, #search_results {
    margin: 1em;
}
.ui-content .ui-listview {
    margin: 0px;
}
#details-list li{
	padding:15px 10px;
}


.show_1kvart {
    background-repeat: no-repeat;
    background-position:left top;
    background-image: url(../img/24bitPNG40px/1kvart2012_on.png);
    /*IE7 style*/
    #display:inline-block;
    
}
.inactive_show_1kvart {
    background-repeat: no-repeat;
    background-position:left top;
    background-image: url(../img/24bitPNG40px/1kvart2012_off.png);
    /*IE7 style*/
    #display:inline-block;
    
}

.show_2kvart {
    background-repeat: no-repeat;
    background-position:left top;
    background-image: url(../img/24bitPNG40px/2kvart2012_on.png);
    /*IE7 style*/
    #display:inline-block;
    
}
.inactive_show_2kvart {
    background-repeat: no-repeat;
    background-position:left top;
    background-image: url(../img/24bitPNG40px/2kvart2012_off.png);
    /*IE7 style*/
    #display:inline-block;
    
}

.show_3kvart {
    background-repeat: no-repeat;
    background-position:left top;
    background-image: url(../img/24bitPNG40px/3kvart2012_on.png);
    /*IE7 style*/
    #display:inline-block;
    
}
.inactive_show_3kvart {
    background-repeat: no-repeat;
    background-position:left top;
    background-image: url(../img/24bitPNG40px/3kvart2012_off.png);
    /*IE7 style*/
    #display:inline-block;
    
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}
fieldset { 
	padding: 0 15px 3em;
	border: 0;
}

legend {
	font-size: 1.4em;
	font-weight: bold;
	padding: .2em 5px;
}
.custom-checkbox, .custom-radio { position: relative; }
    
/* input, label positioning */
.custom-checkbox input, 
.custom-radio input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: 0;
}

.custom-checkbox label, 
.custom-radio label {
    display: block;
    position: relative;
    z-index: 1;
    font-size: 1.3em;
    padding-right: 1em;
    line-height: 1;
    padding: .5em 0 .5em 30px;
    margin: 0 0 .3em;
    cursor: pointer;
}

    
/* states */
.custom-checkbox label { background: url(../img/checkbox.gif) no-repeat; }

.custom-radio label { background: url(../img/radiobutton.gif) no-repeat; }

.custom-checkbox label, .custom-radio label {
    background-position: -10px -14px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label.hover,
.custom-radio label.focus {
    background-position: -10px -114px;
}

.custom-checkbox label.checked, 
.custom-radio label.checked {
    background-position: -10px -214px;
}

.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
    background-position: -10px -314px;
}

.custom-checkbox label.focus, 
.custom-radio label.focus {
    outline: 1px dotted #ccc;
}
    


